.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
birth_files/**
birth.html
birth.md
logs/**
node_modules/.modules.yaml
extension.js
validator.js
ideas/**
examples/**
SleepySyntax*
*.log